{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Smart Home Security</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><span><center>Investigating Smart Home Security: Is Blockchain the Answer?

</center></span></h1>
		
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="{% url 'index' %}"><font size="3" color="white">Home</a></li><td></td>
			<li><a href="{% url 'AdminLogin' %}"><font size="3" color="white">Admin Login</a></li><td></td>
			<li><a href="{% url 'UserLogin' %}"><font size="3" color="white">User Login</a></li><td></td>
				<td></td>		
     
		</ul>
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<div class="flower"><center><img src="{% static 'images/tra.jpg' %}" alt="" width="600" height="200" /></center></div>
			<br/><br/>
			<center><font size="3" color="black"><p>Smart Home automation is increasingly gaining popularity among current applications of
Internet of Things (IoT) due to the convenience and facilities it provides to the home owners. Sensors are
employed within the home appliances via wireless connectivity to be accessible remotely by home owners
to operate these devices.With the exponential increase of smart home IoT devices in the marketplace such as
door locks, light bulbs, power switches etc, numerous security concerns are arising due to limited storage and
processing power of such devices, making these devices vulnerable to several attacks. Due to this reason,
security implementations in the deployment of these devices has gained popularity among researchers as
a critical research area.</p></font></center>
		<center>
		
			<table align="center">
			<tr>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>







